body {
	margin: 0;
	padding: 0;
	font-family: Arial;
}
p {
	text-align: justify;
}
a {
	text-decoration: none;
	color: #3582ff;
}
a:hover {
	text-decoration: underline;
	color: #66a0ff;
}
header {
	width: 960px;
	margin: 0 auto;
	padding: 15px;
}
header h1 {
	text-align: center;
	margin-top: 35px;
}
main {
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
}
footer {
	width: 960px;
	margin: 0 auto;
	text-align: center;
}
content {
	width: 70%;
	float: right;
}
article {
	box-shadow: 1px 1px 5px #a8a8a8;
	padding: 15px;
	margin: 15px;
	margin-left: 0;
	overflow: hidden;
}
aside {
	width: 30%;
	float: left;
}
aside section {
	box-shadow: 1px 1px 5px #a8a8a8;
	padding: 15px;
	margin: 15px;
}
input {
	margin-bottom: 3px;
}
h2 {
	margin: 0;
	margin-bottom: 10px;
	border-bottom: 1px solid #6b6b6b;
}
td {
	padding-right: 5px;	
}
tr:nth-child(even) {
	background-color: #dddddd;
}
big {
	background-color: #000;
	color: #fff;
	font-weight: normal;
	font-size: 16px;
	padding-left: 2px;
	padding-right: 2px;
}
img {
	width: 100%;
}
.login {
	text-align: center;
}
.image {
	width: 200px;
	text-align: center;
	float: left;
	margin: 4px;
}
.img {
	width: 200px;
	height: 200px;
	background-size: cover;
	background-position: center;
}